body {
    margin: 0px;
}

/*----------Navbar----------*/

.navbar {
    list-style: none;
    width: 100%;
    text-align: center;
    background-color: #808080;
}

.navbar li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navbar li > a {
    color: #000;
    text-decoration: none;
    padding: 10px 30px;
}

.navbar li:hover, .navbar li > a:hover {
    background-color: #000 !important;
    color: #fff !important;
}

.navbar-li#clocklink {
    background-color: #ef3e42;
}

.navbar-li#weather {
    background-color: #ffe01a;
}

.navbar-li#table {
    background-color: #d0ad67;
}

.navbar-li#login {
    background-color: #007ac2;
}

/*------------Mobilemenu-----------*/

li, ul {
    margin: 0 auto;
    padding: 0;
}

.mobile-menu {
    position: absolute;
}

.mobile-navbar {
    display: none;
    margin: 0 auto;
    float: left;
    z-index: 100;
    margin-left: 50px;
}

.trigger {
    height: 30px;
    width: 30px;
    background-color: #0099cc;
    float: left;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    position: absolute;
}

.mobile-navbar li {
    margin: 0 auto;
    padding: 16px 0px;
    /*height: 50px;
    width: 200px;*/
    list-style-type: none;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.mobile-navbar li > a {
    text-decoration: none !important;
    color: #000;
    padding: 17px 60px;
}

.mobile-navbar li:hover {
    background-color: #000 !important;
    color: #fff !important;
}

.mobile-navbar li > a:hover {
    color: #fff !important;
    padding: inherit;
}

.line-1 {
    border-top: 5px solid #fff;
    width: 30px;
    margin: 0px auto;
    padding-bottom: 3px;
    transition: all 0.4s;
    position: absolute;
    top: 14px;
}

.line-2 {
    border-top: 5px solid #fff;
    width: 30px;
    margin: 0px auto;
    padding-bottom: 3px;
    transition: all 0.4s;
    position: absolute;
    top: 23px;
    left: 10px;
}

.line-2-1 {
    border-top: 5px solid #fff;
    width: 30px;
    margin: 0px auto;
    padding-bottom: 3px;
    transition: all 0.4s;
    position: absolute;
    top: 23px;
    left: 10px;
}

.line-3 {
    border-top: 5px solid #fff;
    width: 30px;
    margin: 0px auto;
    padding-bottom: 3px;
    transition: all 0.4s;
    position: absolute;
    top: 32px;
    left: 10px;
}

.line-on {
    border-color: #ddd;
}

.line-1-x {
    opacity: 0;
    transition: all 0.4s;
}

.line-2-x {
    -webkit-transform: rotate(45deg);
    transition: all 0.4s;
    top: 21px;
    left: 9px;
}

.line-2-1-x {
    -webkit-transform: rotate(-45deg);
    transition: all 0.4s;
    top: 21px;
}

.line-3-x {
    opacity: 0;
    transition: all 0.4s;
}


/*----------Clock-----------*/

.timezones {
    display: inline-block;
    width: 100%;
}

.time {
    background: black;
    position: relative;
    float: left;
    width: 33%;
}

#timeSthlm {
    z-index: -1;
}

.clocks {
    width: 500px;
    height: 300px;
    margin: auto;
    position: relative;
    display: block;
}

#city-stockholm {
    color: #fff;
    text-align: center;
}

/*---------@media---------*/

@media only screen and (max-width: 1450px) {


    #timeSthlm {
        width: 50%;
        height: auto;
    }

    #timeNY {
        width: 50%;
        height: auto;
    }

    #timeTK {
        width: 100%;
        float: none;
        height: auto;
    }

    .time {
    position: static;
    }
}


@media only screen and (max-width: 980px) {
}

@media only screen and (min-width: 768px) {

    .mobile-menu {
        visibility: hidden;
    }
}

@media only screen and (max-width: 767px) {

    .navbar {
        display: none;
    }

    .mobile-menu {
        visibility: visible;
    }

    #timeSthlm {
        width: 100%;
        float: none;
        position: relative;
    }

    #timeNY {
        width: 100%;
        float: none;
    }

    .time {
        float: none;
        width: 100%;
        position: relative;
    }
}

@media only screen and (max-width: 500px) {

    .clocks {
        width: 100%;
        height: auto;
    }
}
